apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  ttl: 24h0m0s
  usages:
  - signing
  - authentication
nodeRegistration:
  kubeletExtraArgs:
    - name: rotate-server-certificates
      value: "true"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ foreman_params.k8s_api_endpoint }}:6443"
networking:
  podSubnet: "{{ k8s_pod_cidr }}"
  serviceSubnet: "{{ k8s_service_cidr }}"
apiServer:
  certSANs:
{% for host in groups['foreman_almalinux10_kubernetescontrolplanenode'] %}
    - "{{ hostvars[host]['ansible_facts']['fqdn'] }}"
    - "{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}"
{% endfor %}
    - "{{ foreman_params.k8s_api_endpoint }}"
    - "{{ foreman_params.k8s_api_endpoint_ip }}"
    - "127.0.0.1"
    - "localhost"
  extraArgs:
    - name: encryption-provider-config
      value: /etc/kubernetes/enc/enc.yaml
    - name: oidc-issuer-url
      value: "{{ authentik_headlamp_issuer }}"
    - name: oidc-client-id
      value: "{{ vault_authentik_headlamp_client_id }}"
    - name: oidc-username-claim
      value: email
    - name: oidc-groups-claim
      value: groups
  extraVolumes:
    - name: enc
      hostPath: /etc/kubernetes/enc
      mountPath: /etc/kubernetes/enc
      readOnly: false
      pathType: DirectoryOrCreate
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
rotateCertificates: true
