# templates/haproxy-k8s.cfg.j2
frontend kubernetes-frontend
    bind *:{{ haproxy_port | default('7443') }}
    mode tcp
    option tcplog
    timeout client  1m
    default_backend kubernetes-backend

backend kubernetes-backend
    mode tcp
    option tcp-check
    balance roundrobin
    timeout connect 10s
    timeout server  1m
{% for host in groups['foreman_almalinux10_kubernetescontrolplanenode'] %}
    server {{ hostvars[host]['ansible_facts']['hostname'] }} {{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:6443 check fall 3 rise 2
{% endfor %}
